<div class="p-3 mb-2 alert alert-primary">
    <button
        type="button"
        class="btn btn-primary"
        type="button"
        data-toggle="collapse"
        data-target="#collapseExample"
        aria-expanded="false"
        aria-controls="collapseExample"
    >
        GET
    </button>
    <span class="ml-3 font-weight-bold">/countries</span>
</div>
<div class="collapse mb-2" id="collapseExample">
    <div class="card card-body">
        Get all countries.
    </div>
</div>

<div class="p-3 mb-2 alert alert-primary">
    <form class="form-inline">
        <button
            type="button"
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#collapseExample1"
            aria-expanded="false"
            aria-controls="collapseExample"
        >
            GET
        </button>
        <span class="ml-3 font-weight-bold"
            >/countries/name/{name}</span
        >
        <!-- <input class="form-control ml-auto" type="text" /> -->
    </form>
</div>
<div class="collapse mb-2" id="collapseExample1">
    <div class="card card-body">
        Get country by name.
    </div>
</div>

<div class="p-3 mb-2 alert alert-primary">
    <form class="form-inline">
        <button
            type="button"
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#collapseExample2"
            aria-expanded="false"
            aria-controls="collapseExample"
        >
            GET
        </button>
        <span class="ml-3 font-weight-bold"
            >/countries/code/{code}</span
        >
        <!-- <input class="form-control ml-auto" type="text" /> -->
    </form>
</div>
<div class="collapse mb-2" id="collapseExample2">
    <div class="card card-body">
        Get country by code.
    </div>
</div>

<div class="p-3 mb-2 alert alert-primary">
    <form class="form-inline">
        <button
            type="button"
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#collapseExample3"
            aria-expanded="false"
            aria-controls="collapseExample"
        >
            GET
        </button>
        <span class="ml-3 font-weight-bold"
            >/countries/capital/{capital}</span
        >
        <!-- <input class="form-control ml-auto" type="text" /> -->
    </form>
</div>
<div class="collapse mb-2" id="collapseExample3">
    <div class="card card-body">
        Get country by capital.
    </div>
</div>

<div class="p-3 mb-2 alert alert-primary">
    <form class="form-inline">
        <button
            type="button"
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#collapseExample4"
            aria-expanded="false"
            aria-controls="collapseExample"
        >
            GET
        </button>
        <span class="ml-3 font-weight-bold"
            >/countries/callingcode/{callingcode}</span
        >
        <!-- <input class="form-control ml-auto" type="text" /> -->
    </form>
</div>
<div class="collapse mb-2" id="collapseExample4">
    <div class="card card-body">
        Get country by calling code.
    </div>
</div>

<div class="p-3 mb-2 alert alert-primary">
    <form class="form-inline">
        <button
            type="button"
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#collapseExample5"
            aria-expanded="false"
            aria-controls="collapseExample"
        >
            GET
        </button>
        <span class="ml-3 font-weight-bold"
            >/countries/currencycode/{currency}</span
        >
        <!-- <input class="form-control ml-auto" type="text" /> -->
    </form>
</div>
<div class="collapse mb-2" id="collapseExample5">
    <div class="card card-body">
        Get country by currency.
    </div>
</div>

<div class="p-3 mb-2 alert alert-primary">
    <form class="form-inline">
        <button
            type="button"
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#collapseExample6"
            aria-expanded="false"
            aria-controls="collapseExample"
        >
            GET
        </button>
        <span class="ml-3 font-weight-bold"
            >/countries/language/{language}</span
        >
        <!-- <input class="form-control ml-auto" type="text" /> -->
    </form>
</div>
<div class="collapse mb-2" id="collapseExample6">
    <div class="card card-body">
        Get country by language.
    </div>
</div>

<div class="p-3 mb-2 alert alert-primary">
    <form class="form-inline">
        <button
            type="button"
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#collapseExample7"
            aria-expanded="false"
            aria-controls="collapseExample"
        >
            GET
        </button>
        <span class="ml-3 font-weight-bold"
            >/countries/region/{region}</span
        >
        <!-- <input class="form-control ml-auto" type="text" /> -->
    </form>
</div>
<div class="collapse mb-2" id="collapseExample7">
    <div class="card card-body">
        Get country by region.
    </div>
</div>

<div class="p-3 mb-2 alert alert-primary">
    <form class="form-inline">
        <button
            type="button"
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#collapseExample8"
            aria-expanded="false"
            aria-controls="collapseExample"
        >
            GET
        </button>
        <span class="ml-3 font-weight-bold"
            >/countries/subregion/{subregion}</span
        >
        <!-- <input class="form-control ml-auto" type="text" /> -->
    </form>
</div>
<div class="collapse mb-2" id="collapseExample8">
    <div class="card card-body">
        Get country by subregion.
    </div>
</div>