<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Countries API</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
			integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div class="app">
			<nav class="navbar navbar-dark bg-dark">
				<div class="container">
					<a class="navbar-brand" href="/">Countries API</a>
				</div>
			</nav>
			<div class="jumbotron alert-info">
				<div class="container">
					<h1 class="display-4">Countries API</h1>
					<p class="lead">
						This API was develop on sinatra and ruby.
					</p>
					<hr class="my-4" />
					<p class="-text-center">
						<img
							src="http://sinatrarb.com/images/logo.png"
							alt="sinatra"
							width="100px"
						/>
						<img
							src="https://bgasparotto.com/wp-content/uploads/2016/03/ruby-logo.png"
							alt="ruby "
							width="100px"
						/>
					</p>
				</div>
			</div>
			<main class="py-3">
				<div class="container">

                    <%= yield %>

				</div>
			</main>
			<footer class="bg-dark text-white overflow-hidden py-3">
				<p class="text-center">Develop by @thiagotrs</p>
			</footer>
		</div>

		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
			integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
			crossorigin="anonymous"
		></script>
	</body>
</html>
